@import "../../variables";

// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

.whatIsGeodaka{
	color:black;
	width:90%;
	text-align: center;
	margin: auto;
	margin-bottom:60px;
	margin-top:90px;
}

.linkImageWrapper{
	width:85%;
	margin:auto;
	display:block;
}

.linkImageWrapper img{
	width:100%;
	margin-bottom:110px;
}

.our-mission-container{
	background-color: $background-light;
	padding-top:20px;
	padding-bottom:50px;
}

.our-mission {
	grid-column: full-start / full-end;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width:1900px;
	margin:auto;
	margin-bottom:80px;
	justify-content: space-evenly;
	align-items: center;
	&-content {
		width:90%;
		@media screen and (max-width: $bp-small) {
			padding: 4rem 2rem;
		}

		& p {
			margin-bottom: 4rem;
			line-height: 2.5rem;
		}

		& button {
			margin: 1rem;
		}
	}

	&-buttons {
		@media screen and (max-width: $bp-small) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	padding-bottom:0;
}


.heading{
	text-align: center;
	align-self: flex-start;
	min-width: 310px;
	margin:10px;
}

.headingImage1{
	border-color: $theme-color;
	background: linear-gradient(
			to right,
			rgba(238, 115, 94, 0.1),
			$accent-color,
		),
	url('../../Assets/Images/cracked.png');
}

.headingImage2{
	border-color: $accent-color;
	background: linear-gradient(
			to right,
			rgba(66, 81, 94, 0.1),
			$theme-color,
		),
	url('../../Assets/Images/blockWorld.png');
}

.headingImage3{
	border-color: $theme-color;
	background: linear-gradient(
			to right,
			rgba(238, 115, 94, 0.1),
			$accent-color,
		),
	url('../../Assets/Images/token.png');
}


.headingImage{
	border-width:4px;
	border-style:solid;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
	border-radius: 50%;
	height:250px;
	min-width:200px;
	width:100%;
}

.our-mission-content{
	margin:10px;
	margin-top:20px;
	flex-basis:50%;
	min-width: 310px;
}

.reverse{
	flex-wrap: wrap-reverse;
}

.reverse .heading{
	align-self: flex-end;
}

.our-mission-content-text{
	color:white;
	background-color: $theme-color;
	padding:25px;
	border-radius: 20px;
}

.reverse .our-mission-content-text{
	background-color: $accent-color;
}


img{
	width:300px;
}

.italic{
	font-style: italic;
}

.whitepaperLink{
	color:$accent-color;
}

.whitepaperLink:hover{
	color:$accent-color;
	text-decoration: underline;
}

.theme{
	color:$theme-color;
}

.accent{
	color:$accent-color;
}